<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../partials/nav') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% const revOrders = orders.reverse() %>
                    <% revOrders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %></h1>
                            <ul class="orders__products">
                                <% order.items.forEach(item => { %>
                                    <li class="orders__products-item"><%= item.product.title %> (<%= item.quantity %>) - <a href="/order/<%= order._id %>">Get Invoice</a></li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../partials/footer') %>